.activeBtn {
  background: #007c81 !important;
  font-weight: 600 !important;
}

.inActive {
  background: none !important;
  font-weight: 400;
}

.TaskManagementSection {
  width: 100%;
  display: flex;
  gap: 20px;
  .leftNav {
    // width: 20%;
    width: 15%;
    min-height: 100vh;
    max-height: max-content;
    // height: 100vh;
    background: #009b9f;
    .teamNameShort {
      margin: 0;
      font-weight: 600;
    }
    .menuWithIcon {
      display: flex;
    }
    .accordTeam {
      display: flex;
      align-items: center;
      gap: 10px;
      // padding: 10px 0 10px 20px;
      padding: 5px 20px;
      cursor: pointer;
    }
    .accordTeamMembers {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      list-style: none;
      cursor: pointer;
      padding: 10px 0;
      .accordMember {
        height: "100%";
        margin-left: 51px;
        display: flex;
        align-items: center;
      }
    }
  }
  .rightNavSearch {
    width: 70%;
    input {
      width: 100%;
    }
  }
  .iconsearchcontainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
  }
}

.lefticon {
  background-color: #f46906 !important;
  border: none;
  width: 26px;
  height: 26px;
}

.lefticon > span {
  color: #fff;
}

.righticon > span {
  font-size: 20px;
}

.teamMemberSection {
  display: flex;
  height: 100%;
  margin-left: 52px;
  justify-content: space-between;
}

.leftNavExpandController {
  display: flex;
  padding: 16px;
  i {
    cursor: pointer;
  }
}
