$btnColor: #f46906;
.myTaskSection {
  margin-bottom: 15px;
  padding: 13px 15px;
  margin: 10px 0 15px 0;
  border-top: 1px solid #eeeeee90;
  border-left: 1px solid #eeeeee90;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  thead > tr > th {
    padding: 12px !important;
    color: #545454;
  }
  .filterSection {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
  td:nth-child(1) {
    display: flex;
    height: 52px;
    align-items: center;
  }
  // tr :nth-child(1) {
  //   background: #747a7c33 !important;
  // }
  tbody > tr > td {
    padding: 8px !important;
    // background: #747a7c33 !important; Maasi
    background-color: transparent !important;
  }
  .myTaskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 10px 0;
    margin: 0;
    margin-bottom: 10px;
    // margin: 15px 0px;
    // margin: 25px 0px 10px 0px;
    h2,
    label {
      margin: 0;
      font-weight: 600;
      color: #545454;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img {
        width: 12px;
        height: 16px;
        margin-top: 2px;
      }
    }
  }
}

.tblTxtBox {
  width: 100%;
}

.tblAction {
  display: flex;
  // gap: 10px;
  justify-content: center;
}

.pLevelStyle {
  // color: #fff;
  // padding: 6px 0px;
  // text-align: center;
  // border-radius: 12px;
  // width: 134px;
  padding: 5px 0;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 12px;
  min-width: 115px;
  max-width: 130px;
  font-weight: 500;
}

.actionContainer {
  display: flex;
  align-items: center;
  // gap: 10px;
}

.btnColor {
  background-color: $btnColor;
  border: none;
  padding: 4px 18px;
  height: 34px;
  font-size: 15px;
  font-weight: 500;
}
.secondaryBtn {
  color: #555;
  font-weight: 700;
  background-color: #f5f5f3 !important;
  border: none;
  padding: 4px 18px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #eee;
}

// topContainer
.commonFilterSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin-bottom: 15px;

  // margin-top: 15px;
  div {
    // label {
    //   padding: 5px 16px;
    //   min-width: 150px;
    //   height: 36px;
    //   color: #bb4e00;
    //   background: #ff780017;
    //   border-radius: 4px;
    //   border-left: 4px solid;
    //   text-align: center;
    //   font-size: 18px;
    // }
    label {
      padding: 5px 16px;
      min-width: 150px;
      height: 36px;
      color: #00797c;
      background: #009b9f0d;
      border-radius: 4px;
      border-left: 4px solid;
      text-align: center;
      font-size: 18px;
    }
  }
}
.leftFilterSection {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightFilterSection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.clientHeader {
  // font-size: 19px;
  // font-weight: 600;
  // color: #f46906;
  // // margin-top: 15px;
  width: max-content;
  font-weight: 600;
  padding: 5px 16px;
  min-width: 150px;
  height: 36px;
  color: #bb4e00;
  background: #ff780017;
  border-radius: 4px;
  border-left: 4px solid;
  text-align: center;
  font-size: 18px;
}

// TL and TC Section styles
.TLTCSection {
  display: flex;
  gap: 40px;
  margin: 15px 0px;
  b {
    font-size: 18px;
    font-weight: 500;
  }
  .TLImage {
    display: flex;
    gap: 10px;
    align-items: center;
    .avatar {
      img {
        border-radius: 8px !important;
      }
    }
    .avatarAndNameFlex {
      display: flex;
      gap: 12px;
      align-items: center;
      img {
        width: 26px;
        height: 26px;
      }
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.peoplepickerErrStyle {
  border: 1px solid #dc3545;
  border-radius: 4px;
}

.addCatSection {
  display: block;
}
.Automatebutton {
  display: flex;
  gap: 20px;
  margin: 10px 0px 20px 0px;

  .Activebutton {
    border: none;
    background: transparent;
    border-radius: unset;
    border-bottom: 2px solid blue;
    // width: 200px;
    color: #000;
  }
  .inActivebutton {
    border: none;
    background: transparent;
    border-radius: unset;
    // border-bottom: 2px solid blue;
    // width: 200px;
    color: #000;
  }
}
.NotifyContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  .ProjectName {
    width: 35%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
  span {
    // width: 25%;
    input {
      width: 100%;
    }
  }
}
.cancelBtn {
  // background-color: #a49890;
  border: none;
  padding: 4px 18px;
  height: 34px;
  font-size: 15px;
  font-weight: 500;
  background-color: grey;
  color: #fff;
  border: none;
}
.Submitbtn {
  background-color: #009b9f;
  border: none;
  padding: 4px 18px;
  height: 34px;
  font-size: 15px;
  font-weight: 500;
}
.Automatelabel {
  font-size: 18px;
  font-weight: 600;
  padding: 10px !important;
  background: #eeeeeeaa;
  border-radius: 4px;
}
.catDialogBtnSection {
  display: flex;
  gap: 15px;
  justify-content: end;
  margin-top: 16px;
  button {
    // border: none;
    // background: transparent;
    // border-radius: unset;
    // border-bottom: 2px solid blue;
    width: 100px;
    // color: #000;
  }
}
.righticon > span {
  font-size: 16px;
  margin-right: 7px;
  margin-top: 2px;
  font-weight: 600;
}
.addCommentBtn {
  background-color: $btnColor;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 16px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: 5px;
  margin-left: auto;
}
.defaultText {
  font-size: 14px;
  color: #55555580;
  font-weight: 400;
  margin: 0 2px;
}
.errorText {
  font-size: 14px;
  color: red;
  font-weight: 400;
  margin: 0 2px;
}
.activityArea {
  width: 100%;
  // max-height: 60vh;
  overflow-y: auto;
  padding: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

// chat box styles
.myMsgStyle {
  margin: 0;
  margin-bottom: 7px;
  max-width: 70%;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  .userAvatar {
    transform: translate(0px, -6px);
  }
  .msgWrapper {
    max-width: 100%;
    background-color: #fff4ea;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px 10px;
    border-radius: 10px;
    border: top right #fff4ea;
    position: relative;
    z-index: 9;
    margin-right: 20px;
    &::after {
      content: "";
      transform: rotate(45deg);
      position: absolute;
      right: -8px;
      top: -10.5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 21px 20px 0px 0px;
      border-radius: 30px;
      border-color: transparent #fff4ea transparent transparent;
    }
    .createdTime {
      font-size: 11px;
      font-weight: 500;
      margin: 0;
      padding-bottom: 3px;
    }
    .messageContent {
      line-height: 25px;
      padding-bottom: 5px;
      padding-right: 0;
      width: 100%;
      font-size: 14px;
      div > p {
        line-height: 25px;
        padding-bottom: 5px;
        padding-right: 0;
        width: 100%;
        font-size: 15px;
        margin: 0 !important;
      }
      div > ul {
        margin: 0 !important;
        padding: 0 20px !important;
        font-size: 15px !important;
      }
      span[data-emailPill] {
        color: #ad4800 !important;
        padding: 0 !important;
        font-size: 0.9rem !important;
        font-weight: 500 !important;
        text-decoration: none !important;
      }
      .emailPill {
        // color: darkblue;
        // background-color: #0099ff30;
        color: #ad4800 !important;
        // background-color: #fdebde;
        padding: 0 !important;
        font-size: 0.85rem !important;
        font-weight: 500 !important;
        text-decoration: none !important;
      }
      a {
        color: #ad4800;
        font-size: 14px;
        font-weight: 500 !important;
        text-decoration: underline !important;
      }
      div:nth-child(1) {
        word-wrap: break-word;
      }
    }
  }
}

.othersMsgStyle {
  max-width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 7px;
  padding: 5px 10px;
  border-radius: 10px;
  border: top left #f7f7f7;
  position: relative;
  z-index: 9;
  margin-right: auto;
  .userAvatar {
    transform: translate(0px, -6px);
  }
  .msgWrapper {
    background-color: #f7f7f7;
    width: 100%;
    margin-left: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px 10px;
    border-radius: 10px;
    border: top right #f7f7f7;
    position: relative;
    z-index: 9;

    &::after {
      content: "";
      transform: rotate(45deg);
      position: absolute;
      left: -8px;
      top: -10.5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 21px 20px 0px 0px;
      border-radius: 30px;
      border-color: transparent #f7f7f7 transparent transparent;
    }
    p {
      font-size: 11px;
      font-weight: 500;
      margin: 0;
      padding-bottom: 3px;
    }
    .messageContent {
      line-height: 25px;
      padding-bottom: 5px;
      padding-right: 0;
      width: 100%;
      font-size: 15px;
      span[data-emailPill] {
        color: #ad4800 !important;
        padding: 0 !important;
        font-size: 0.9rem !important;
        font-weight: 500 !important;
        text-decoration: none !important;
      }
      .emailPill {
        // color: darkblue;
        // background-color: #0099ff30;
        color: #ad4800 !important;
        // background-color: #fdebde;
        padding: 0 !important;
        font-size: 0.85rem !important;
        font-weight: 500 !important;
        text-decoration: none !important;
      }
      div:nth-child(1) {
        word-wrap: break-word;
      }
      a {
        color: #ad4800;
        font-weight: 500 !important;
        text-decoration: underline !important;
      }
    }
  }
}

.memberProfileCard {
  min-width: 100px;
  background-color: #eeeeee80;
  border: 0.5px solid #adadad20;
  border-radius: 6px;
  padding: 7px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .profileText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // margin: 0 10px;
    margin-left: 10px;
    span {
      font-size: 12px;
      color: #101010b0;
      margin-top: -2px;
    }
    span:nth-child(1) {
      font-size: 14px;
      font-weight: 500;
      margin-top: 0;
      color: #101010;
    }
  }
}
.memberAvatar {
  transform: translateX(11px);
}
