$btnColor: #f46906;
.myTaskSection {
  .filterSection {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
  td:nth-child(1) {
    display: flex;
    height: 54px;
    align-items: center;
  }
  // tr :nth-child(1) {
  //   background: #747a7c33 !important;
  // }
  tbody > tr > td {
    padding: 8px !important;
    // background: #747a7c33 !important;
  }
  .myTaskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px 10px 0px;
    h2 {
      margin: 0;
      font-weight: 700;
      color: $btnColor;
    }
  }
}
.tblTxtBox {
  width: 100%;
}
.tblAction {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.pLevelStyle {
  color: #fff;
  padding: 6px 0px;
  text-align: center;
  border-radius: 8px;
  width: 96px;
}

.actionContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btnColor {
  background-color: $btnColor;
  border: none;
  padding: 8px 12px;
}
