/* FONT FACES */
@font-face {
  font-family: "Apertura Regular";
  src: url("../assets/fonts/apertura/Apertura-Regular.ttf");
}

/* * {
  font-family: "Apertura Regular";
} */

/* theme color */
/* #29323C */
/* #F46906 */
/* #747a7f */

#workbenchPageContent {
  max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

.report-style-class {
  height: 100vh;
}

.p-card-body {
  padding: 10px 20px 14px 20px;
}

.p-card .p-card-content {
  padding: 0;
}

.p-avatar-image {
  width: 26px;
  height: 26px;
}

.p-inputtext:focus {
  box-shadow: unset;
  border-color: #000;
  border: 1px solid #adadad;
}

.p-button:focus {
  box-shadow: unset;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: unset;
  border-color: #000;
}

.pi-check,
.pi-times {
  font-size: 18px;
}

/* treetable styles start */

.p-treetable-thead th {
  /* background-color: #fff !important; */
  background-color: #f5f5f3 !important;
  font-size: 14px;
  font-weight: 600;
  border: none;
}
.p-treetable-thead th:nth-child(1) {
  border-top-left-radius: 6px;
}
.p-treetable-thead th:last-child {
  border-top-right-radius: 6px;
}

.p-treetable-tbody span,
td {
  font-size: 14px;
}

.p-treetable .p-treetable-tbody > tr,
.p-treetable .p-treetable-thead > tr {
  border-bottom: 1px solid #eeeeee90;
}

.p-treetable .p-treetable-tbody > tr > td {
  /* border-bottom: 1px solid #dee2e6 !important; */
  border: none !important;
  /* border-top: none !important ; */
}

.p-treetable-tbody .p-button-icon {
  font-weight: 900;
}

.p-treetable-wrapper::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: #fff;
}

.p-treetable-wrapper::-webkit-scrollbar-thumb {
  /* border-radius: 10px;
  background-color: #a3a3a3; */
  background-color: #e1e1e1;
  border-radius: 16px;
}

/* treetable styles end */

/* peoplepicker style  start*/

.ms-BasePicker-text {
  border: 1px solid #ced4da !important;
  /* min-height: 34px; */
  min-height: 38px;
  border-radius: 4px;
  background-color: #fff;
  min-width: 100%;
}

.ms-BasePicker-text::after {
  border: 1px solid #000 !important;
  content: unset;
}

.ms-BasePicker-text input {
  min-height: 34px;
}

/* peoplepicker style  end*/

/* datepicker styles start */

.p-datepicker-trigger {
  background-color: transparent;
  border: none;
  color: #009ba2;
}

.p-calendar {
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.p-calendar .p-inputtext {
  border: none;
}

.p-dropdown-trigger-icon {
  color: #009ba2;
}

/* datepicker styles end */

/* modal styles  start*/

.p-confirm-dialog-message {
  font-size: 20px;
}

/* modal styles  end*/

/* datatable scroll design */

.p-datatable-wrapper::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  /* background-color: #f5f5f5; */
  background-color: #fff;
}

.p-datatable-wrapper::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #e1e1e1;
}

/* checkbox style */

.p-checkbox-box.p-highlight {
  border-color: #009ba2;
  background: #009ba2;
}

/* deletemodal style start*/

.p-dialog {
  border: none;
}

.p-dialog-header {
  display: none;
}

.p-confirm-dialog-message {
  font-size: 18px;
}

.p-dialog .p-dialog-footer {
  padding: 10px;
  padding-bottom: 15px;
  text-align: center;
  border: none;
  border-radius: 0px;
}

.p-dialog .p-button {
  padding: 4px 24px;
}

.p-dialog .p-confirm-dialog-reject {
  background-color: gray;
  color: #fff;
  border: none;
}

.p-dialog .p-confirm-dialog-accept {
  background-color: #009ba2;
  border: none;
}

/* deletemodal style end*/

/* search filter style  start*/

.searchFilter {
  padding: 0.2rem 0.75rem 0.3rem 2.5rem !important;
  /* padding-left: 2.5rem; */
}

/* search filter style  end*/

/* sorting icon */

.p-sortable-column-icon {
  height: 10px;
  width: 10px;
}

.p-inputtext {
  height: 34px;
  /* padding: 6px 10px; */
  font-size: 14px;
  /* border: 1px solid #adadad; */
}
.pi-search {
  color: #adadad;
}
/*
 *  STYLE 7
 */

*::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px; */
  background-color: #fff;
}

*::-webkit-scrollbar {
  /* width: 3px;
  background-color: #f5f5f5; */
  height: 4px;
  width: 4px;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  /* border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #47bcc0),
    color-stop(0.72, #47bcc0),
    color-stop(0.86, #009b9f)
  ); */
  background-color: #e1e1e1;
  border-radius: 16px;
}

tr:has(.p-checkbox-box.p-highlight) {
  background: #025c5f14 !important;
}

div#spSiteHeader {
  display: none !important;
}

div#spCommandBar {
  display: none !important;
}
.p-paginator {
  border-top: 1px solid #eee !important;
}
.p-paginator-pages button {
  border-radius: 50% !important;
}
.p-paginator-element {
  border: none !important;
}
.pi-stopwatch {
  font-size: 16px !important;
}
/* .p-tooltip {
  background-color: #fff !important;
  color: #fff !important;
}

.p-tooltip-arrow {
  background-color: #fff !important;
  color: #fff !important;
} */

.p-tooltip-text {
  background-color: #030e12 !important;
  color: #efefef !important;
  font-size: 14px;
  padding: 6px 12px 8px 12px;
}

/* footer css */
#CommentsWrapper {
  display: none !important;
}
.removeGearIcon {
  display: none !important;
}
.addGearIcon {
  display: flex !important;
}
.p-sidebar .p-sidebar-header {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
}
.ms-Persona {
  min-width: auto !important;
}
.emailPill {
  /* color: darkblue;
  background-color: #0099ff30; */
  /* background-color: #fdebde ; */
  color: #ad4800 !important;
  padding: 0 !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  text-decoration: none !important;
}
span[data-emailPill] {
  color: #ad4800 !important;
  padding: 0 !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  text-decoration: none !important;
}
.p-sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}
.p-badge-dot {
  width: 0.4rem !important;
  min-width: 0.4rem !important;
  height: 0.38rem !important;
}
.p-badge {
  transform: translate(28%, -34%) !important;
}

/* data table styles */
.p-datatable .p-datatable-thead > tr > th {
  background-color: #f5f5f3 !important;
  padding: 14px !important;
  color: #555 !important;
}
.p-datatable .p-datatable-thead > tr > th:nth-child(1) {
  border-top-left-radius: 6px;
}
.p-datatable .p-datatable-thead > tr > th:last-child {
  border-top-right-radius: 6px;
}
table {
  border-color: #eeeeee90 !important;
}
.p-datatable tbody td {
  border-top: 1px solid #eeeee090 !important;
  padding: 13px 16px !important;
}
.p-datatable .p-datatable-thead > tr > th {
  font-size: 14px !important;
  border: 0 !important;
}

/* pagination styles */
.p-paginator-icon {
  color: #545454;
}
.p-paginator-page.p-highlight {
  background-color: #545454;
  color: #eff5ff;
  font-weight: 500;
}
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight) {
  color: #545454;
}

/* dropdown styles */
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 8px;
  border-radius: 4px;
  border: 0 none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212529;
  background: transparent;
  transition: box-shadow 0.15s;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: #016e72;
}
.p-dropdown-panel .p-dropdown-items {
  padding: 5px !important;
}
.p-dropdown {
  /* min-width: 140px; */
  min-width: 100%;
  height: 32px;
  border: 1px solid #eeeeee;
  outline: 0 !important;
}
.p-dropdown:not(.p-disabled).p-focus {
  border-color: #eee;
}
.p-dropdown-trigger-icon {
  color: #3231306e;
}
/* datepicker styles */
.p-datepicker table td > span.p-highlight {
  background-color: #016e72;
}
p-datepicker .p-datepicker-header,
.p-datepicker table th,
.p-datepicker table td {
  padding: 2px;
}

/* calendar styles */
.p-calendar {
  height: 32px;
  border: 1px solid #eeeeee;
}
.p-calendar .p-inputtext {
  height: 30px;
}
.p-datepicker-trigger {
  color: #3231306e;
}

/* input inside TD styles  */
td > .p-inputtext {
  height: 32px;
  font-size: 0.85rem;
  border: 1px solid #eeeeee;
}
/* people picker styles */
.ms-BasePicker-text {
  max-height: 32px !important;
  height: 32px !important;
  min-height: 32px !important;
  border: 1px solid #eeeeee !important;
}
.ms-BasePicker-text input {
  max-height: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
}
/* checkbox styles */
.p-checkbox .p-checkbox-box {
  width: 18px;
  height: 18px;
}
.p-treetable-toggler-icon {
  height: 14px !important;
  width: 18px !important;
}

/* sub menu styles */
.p-menu {
  width: 9.5rem;
  top: 226px;
  left: 1292.5px;
  border: 1px solid #eee !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  padding: 0 !important;
  border-radius: 4px !important;
  overflow: hidden;
}
.p-menu .p-submenu-header {
  font-size: 14px;
  padding: 10px 15px;
  color: #555;
  background: #eeeeee60;
}
.p-menu .p-menuitem-link {
  font-size: 14px;
}
.p-menuitem-icon {
  font-size: 13px;
}
/* multiselect */
.p-multiselect {
  border: 1px solid #eee;
  height: 32px;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background-color: #016e72;
}
.p-multiselect .p-multiselect-label {
  font-size: 14px;
  padding: 5px 10px;
  max-width: 150px;
}
.p-multiselect-trigger {
  font-size: 14px;
  color: #3231306e;
}
/* toast styles */
.p-toast .p-toast-message .p-toast-message-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-left: 5px solid;
  border-radius: 6px;
}
.p-toast .p-toast-message {
  box-shadow: none;
}
.p-toast
  .p-toast-message
  .p-toast-message-content
  .p-toast-message-icon.p-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.p-dialog {
  border-radius: 6px;
  overflow: hidden;
}
.p-dialog .p-dialog-content {
  padding: 1rem;
}
.p-dialog .p-dialog-footer {
  padding-top: 0;
}
/* divider styles */
.p-divider.p-divider-horizontal {
  margin-bottom: 0;
}
