// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
.activeBtn {
  background: #007c81 !important;
}
.inActive {
  background: none !important;
}

// client styles
.clientContainer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 0px 0px 10px 0px;
  .rightSection {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .btnColor {
    background-color: #f46906;
    color: #fff;
    border: none !important;
    padding: 4px 18px;
  }
}
.textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 160px;
}
.errMsg {
  color: red;
  margin: 0px;
}
.iconStyle span:nth-child(1) {
  // font-size: 20px;
  font-size: 14px;
}

// data table styles
.dataTableContainer tr > td {
  padding: 10px 16px;
}
.dataTableContainer {
  thead {
    th {
      font-size: 14px;
      font-weight: 600;
    }
  }
  th:hover {
    background-color: transparent;
  }
  tbody {
    span,
    td {
      font-size: 14px;
    }
  }
}
.tblTxtBox {
  width: 100%;
}
.peoplepickerErrStyle {
  border: 1px solid #dc3545;
  border-radius: 4px;
}
